# SQL for Data Science
Structured Query Language (SQL) is a powerful tool for managing and querying relational databases. This notebook covers the fundamentals of SQL, its importance in data science, and practical exercises to help you get started.

## Relational Databases and Their Importance
Relational databases store data in structured tables with rows and columns. Relationships between tables allow for efficient data organization and retrieval.

**Why are relational databases important in data science?**
- Efficient data storage and retrieval.
- Supports complex queries and data manipulation.
- Integral for ETL (Extract, Transform, Load) processes.
- Widely used in industries for transactional and analytical tasks.

### Use Case in Data Science
Imagine you're working for an e-commerce company. Customer purchase data is stored across multiple tables:
- `Customers`: Stores customer information.
- `Orders`: Tracks orders placed by customers.
- `Products`: Contains details about products.

With SQL, you can answer questions like:
- What is the total revenue generated in the last month?
- Which customers purchased the most expensive product?
- How many orders were placed in each category?

## SQL Fundamentals
### Data Definition Language (DDL)
DDL commands are used to define and modify the database structure.

- **CREATE:** Create a new table.
- **ALTER:** Modify an existing table.
- **DROP:** Delete a table.

### Example:
```sql
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    Name VARCHAR(100),
    Email VARCHAR(100),
    Age INT
);
```

### Data Manipulation Language (DML)
DML commands manage data within tables.

- **INSERT:** Add new records.
- **UPDATE:** Modify existing records.
- **DELETE:** Remove records.

### Example:
```sql
INSERT INTO Customers (CustomerID, Name, Email, Age)
VALUES (1, 'Alice', 'alice@example.com', 30);
```

### Queries, Joins, and Aggregations
**Queries:** Extract data using the `SELECT` statement.

**Joins:** Combine data from multiple tables.

- **INNER JOIN:** Returns matching rows from both tables.
- **LEFT JOIN:** Returns all rows from the left table, with matching rows from the right table.
- **RIGHT JOIN:** Returns all rows from the right table, with matching rows from the left table.

**Aggregations:** Perform calculations on data (e.g., `SUM`, `AVG`, `COUNT`).

### Example:
```sql
SELECT Customers.Name, SUM(Orders.Amount) AS TotalSpent
FROM Customers
INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.Name
ORDER BY TotalSpent DESC;
```

## Working with Databases (MySQL)
MySQL is a popular relational database management system. Below are steps to connect and work with a MySQL database in Python.

### Install MySQL Connector
```bash
pip install mysql-connector-python
```

### Connect to the Database
```python
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='your_database'
)
cursor = connection.cursor()
```

### Execute Queries
```python
cursor.execute("SELECT * FROM Customers;")
for row in cursor.fetchall():
    print(row)
```

### Close the Connection
```python
connection.close()
```

### Practice Exercise
1. Create a table named `Products` with the following columns:
   - `ProductID` (Primary Key, INT)
   - `Name` (VARCHAR)
   - `Category` (VARCHAR)
   - `Price` (FLOAT)

2. Insert at least 3 records into the `Products` table.

3. Write a query to find the most expensive product in each category.